    *.o
    *.d
builtins.o
builtins.d
executor.d
executor.o
history.d
history.o
input.d
input.o
jobs.d
jobs.o
main.d
main.o
shell.d
shell.o
.gitignore
signals.d
var.d
signals.o
var.o
printenv
thrash
typescript
.foo.swp
colortheme.jsonc
sorted.txt
thrash_debug.log
thrash_io_tests.sh
thrash_io_tests_strace.sh
run_output.log
redirect.d
redirect.o
test_parser
/.vscode
.vscode/settings.json
mid.txt
out.txt
.gitignore
thrash_test_tmp/README.md
output.txt
path.o
parser.o
.gitignore
path.d
parser.d
.vscode/settings.json
.vscode/settings.json
command.o
command.d

ansi_color.h
pipeline.o
pipeline.d
