    *.o
    *.d
builtins.o
builtins.d
executor.d
executor.o
history.d
history.o
input.d
input.o
jobs.d
jobs.o
main.d
main.o
shell.d
shell.o
.gitignore
signals.d
var.d
signals.o
var.o
printenv
thrash
typescript
.foo.swp
colortheme.jsonc